<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DNF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DC77B1321C4B69D600A77E38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC77B14B1C4B69D600A77E38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC77B1561C4B69D600A77E38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
